section{
    margin: 10rem;
    /* text-align: center; */
}
h2{
    font-weight: 10rem;
}
span{
    line-height: 24px;
}
.aboutMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    margin: 0;
    padding-left: 0;
}
.mySkills{
    display: flex;
    flex-wrap: wrap;
}
.skills{
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}