section{
    margin: 10rem;
    padding:  12rem 0;
}
h2{
    font-weight: 10rem;
}
span{
    line-height: 24px;
}
.aboutMe{
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: 1fr 1fr;
}
.mySkills{
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
}
.skills{
    padding: 20rem;
}
