.body{
    text-align: center;
    margin: 100px;
}
.name{
    font-size: 50px;
    letter-spacing: 6px;
}
.introduction{
    color: #333;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}
button{
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
    margin-top: 30px;
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
}
